@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body > div {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > div > div {
    text-align: left;
}

img {
    width: 200px;
}

h1 {
    color: #FF5770;
}

